@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<h1>Welcome </h1>


@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <span>Logged In</span>
    </div>
}
else
{
    <div class="text-center">
    <span>Not Logged In</span>
    </div>
}